.sidebar {
  height: 100%;
  width: 224px;
  position: fixed;

  top: 64px;
  left: 0;
  background-color: #F4F6F7;
  overflow-x: hidden;
  padding-top: 20px;
  padding-left: 24px;
}
 .create{
   margin-left: 24px;
   border-radius: 4px;
 }

