
.modal-quiz {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.modal-box {
    position: relative;
    font-family: "Open Sans";
    border-radius: 4px;
    background-color: #ffffff;
    color: BLACK;
    display: flex;
    flex-direction: column;
    /* align-content: center; */
    /* justify-content: flex-start;
    align-items: flex-start; */
    margin-bottom: 24px;
    box-shadow: 0 0 1px 1px rgba(0,0,0,0.02), 0 4px 6px 1px rgba(0,0,0,0.06);
  }
  
  .modal-box:hover {
    box-shadow: 0 2px 4px 0 #6369D1;
  }