.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 15px;
  height: 64px;
  width: 100%;
  background-color: #363648;
}

.bradius {
  display: flex;
  justify-content: center;
  background-color: #363648 !important;
  position: absolute;
  width: 120px;
  height: 40px;
  background-size: contain;
  background-position: center;
  margin-top: -4px;
  color: white !important;
  border: none !important;
}

.logo-btn {
  z-index: 1354;
  color: white;
  text-align: center;
  margin-bottom: 0px;
  font-weight: bold;
}

.menu {
  height: auto;
  width: 216px;
  border-radius: 4px;
  background-color: white;
}

.dropdown {
  opacity: 1;
  color: black;
}
.dropdown-menu {
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  border: none;
}

.dropdown-item {
  box-shadow: none;
}

.dropdown-item:hover {
  box-shadow: none;
}
.click {
  color: red;
}

.click:hover {
  color: black;
  text-decoration: none;
}
