.bradius {

  /* background-color: #363648; */
  position: absolute;
  width: 120px !important;
  height: 40px !important;
  background-size: contain;
  background-position: center;
  margin-top: 0px;
  color: white;
}

.logo-btn {
  z-index: 1354;
  color: white;
  height: 80px;
  text-align: center;
 margin-bottom: 0px;
}

.homepage {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 15px;
  height: 64px;
  width: 100%;
  background-color: #363648;
}

.moved {
  margin-right: 490px;
}

.menu {
  height: 80px;
  width: 216px;
  border-radius: 4px;
  background-color: white;
}

.dropdown {
  opacity: 1 !important;
}

.click {
  color: red;
}

.click:hover {
  color: black;
  opacity: 1 !important;
  background-color: white !important;
  text-decoration: none !important;
}
