.bradius {
  background-color: white !important;
  position: absolute;
  width: 40px !important;
  height: 40px !important;
  border-radius: 50% !important;
  background-image: url(./icons8-user-24.png);
  background-size: contain;
  background-position: center;
}

.homepage {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 15px;
  height: 64px;
  width: 100%;
  background-color: #363648;
}

.moved {
  margin-right: 490px;
}

.menu {
  height: 80px;
  width: 216px;
  border-radius: 4px;
  background-color: white;
}

.click {
  color: red;
}

.click:hover {
  color: black;
  opacity: 0.25;
  background-color: #363648;
}
