.align {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.selected {
  color: #fff !important;
  background-color: #6772e5 !important;
}

.selected:hover {
  color: #fff;
  cursor: pointer;
  background-color: #7795f8 !important;
  transform: translateY(-1px) !important;
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08) !important;
}
