.align {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.selected {
  color: #fff ;
  background-color: #6772e5;
}

.selected:hover {
  color: #fff;
  cursor: pointer;
  background-color: #7795f8 ;
  transform: translateY(-1px) ;
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08) ;
}

.message {
  width: 400px;
}

.given-question {
  margin-top:64px;
  margin-bottom:16px;
  font-size: 3.2rem;
}

.submit-answer {
  border-radius: 4px;
  margin-top: 32px;

}

#quiz-title-score {
  font-size: 2.5rem;
}

#quiz-letter-score {
  font-size: 2.5rem;
}