.App {
  /* text-align: center;
  line-height: .5; */
    font-family: sans-serif;
    text-align: center;
  }


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo {
  height: 32px;
  width: 103px;
  color: grey;
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: bold;
  line-height: 32px;
  text-align: center;
  margin-left: 76.5px;
  
}

.header {
  display: flex;
  align-items: center;
  height: 64px;
  width: 1440px;
  background-color: #F4F6F7;
}

.sidebar-nav {
height: 960px;
width: 224px;
border: solid black 8px;
}

.new-quiz {
    height: 40px;
    width: 120px;
    border: 1px solid #6369D1;
    border-radius: 4px;
    margin-left: 24px;
    margin-top: 16px;
}

.quizzes-folder {
    height: 70px;
    width: 184px;
    border-radius: 4px;
    border: solid black 3px;
    
}

.label-text {
    height: 20px;
    width: 156px;
    color: #000000;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    margin-left: 70px;
    margin-top: 4px;
}