:root {
  --primary-color: #17a2b8;
  --dark-color: #343a40;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}
/* Student Quiz Card */
.student-quiz-card {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}

.student-quiz-card .card-content {
  margin-top: 16px;
}
.student-quiz-card .given-name {
  margin-bottom: 0px;
}
.student-quiz-card .card-description {
  height: 80px;
  margin-bottom: 0px;
}
.assigned-by {
  font-size: 14px;
  opacity: 0.75;
  margin-bottom: 0px;
}

.take-quiz {
  margin-left: 28px;
  background-color: white;
  color: black;
  /* border:none; */
  width: 104px;
  box-shadow: none;
  padding: 0px;
  margin-top:-24px;
}

/* Dashboard */


.assigned-quizzes {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.completed-quizzes {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.alert {
  padding: 0.8rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: var(--danger-color);
  color: #fff;
}

.alert-green {
  padding: 0.8rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: var(--success-color);
  color: #fff;
}


.card-completed {
  position: absolute;
  display: flex;
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 24px;
  width: 85px;
  border-radius: 4px;
  background-color: #226f54;
  color: white;
  text-transform: Uppercase;
}


/* Empty States */
.student-empty {
  font-size: 16px;
  margin-top: 48px;
}
.student-complete-empty {
  padding-top: 24px;
}






