.title {
  display: flex;
  font-weight: bold;
  justify-content: center;
}

.assigned-quizzes {
  display: inline-block;
  height: 232px;
  width: 197px;
  margin-left: 30px;
  /* border: 1px solid red; */
}

.header {
	height: 28px;
	width: 171px;
	color: #000000;
	font-family: "Open Sans";
	font-size: 20px;
	font-weight: bold;
  line-height: 28px;
}

.added-boxes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1%;
  width: 660%;
  /* border: 1px solid red; */
}

.box {
  height: 188px;
  width: 192px;
  border-radius: 4px;
  margin: 15px 15px 15px 0;
  background-color: #ffffff;
  /* border: 1px solid blue; */
}

