
h1 {
  color: #32325d;
  font-weight: 400;
  line-height: 50px;
  font-size: 40px;
  margin: 20px 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.assigned-quizzes {
  display: flex;
  height: 232px;
  width: 960px;
  padding: 1%;
}



.header2 { 
	color: #000000;
	font-size: 20px; 
  line-height: 28px;
  padding: 1%;  
  padding-left: 550px;

} 

.header3 {
  line-height: .5;
  font-size: 15px;
  padding-left: 500px;

}

.box {
  height: 188px;
  width: 192px;
  border-radius: 4px;
  background-color: #ffffff;
  margin: 1%;
}


/* .button {
  white-space: nowrap;
  border: 0;
  outline: 0;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding: 0 14px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
  color: #fff;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  background-color: #6772e5;
  text-decoration: none;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
  margin: 10px 0 0 10px;
} */

.white {
  color: white;
}

.header1 {
  display: flex;
  align-items: center;
  height: 64px;
  width: 1300px;  
}