/* SideBar */

#new-button {
  background-color: #FFFFFF !important;	
  box-shadow: 0 0 1px 1px rgba(0,0,0,0.02), 0 4px 6px 1px rgba(0,0,0,0.06);
  color:Black !important;
  height: 40px;	
  width: 120px;	
  border: 1px solid #6369D1;	
  border-radius: 4px;
  font-weight: bold;
}

/* .btn-secondary {
  background-color: #FFFFFF;	
  box-shadow: 0 0 1px 1px rgba(0,0,0,0.02), 0 4px 6px 1px rgba(0,0,0,0.06);
  color:Black;
  height: 40px;	
  width: 120px;	
  border: 1px solid #6369D1;	
  border-radius: 4px;
  font-weight: bold;
} */

.new-quiz {
  height: 40px;
  width: 120px;
  border: 1px solid #6369d1;
  border-radius: 4px;
  margin-left: 24px;
  margin-top: 16px;
  margin-bottom:24px;
}
.sidebar {
  height: 100%;
  width: 224px;
  position: fixed;
  top: 64px;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
  padding-left: 24px;
}



/* Main Dashboard */

.dash {
  margin-left: 256px;
}
.dashboard-header {
  color: #000000;
  font-size: 20px;
  font-weight: bold;
  line-height: 28px;
  margin-top:24px;
}

.recently-made-quizzes {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.folder-name-header {
  display:flex;
  width:100%;
  flex-wrap: wrap;
}

 .move{
  margin-left:8px;
}
.some-element {
  border: 1px solid #ccc;
  display: block;
  font-size: 10px;
  margin-top: 10px;
  padding: 5px;
  text-transform: uppercase;
}

/* Empty State */

.empty {
  margin-top:48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


#some-div:hover {
  cursor: pointer;
  color: #DA2C38;
}

/* .title {
  display: flex;
  font-weight: bold;
  justify-content: center;
} */


.hidden {
  display: none;
}

.hidden:hover {
  display: block;
}