.checkout-container {
    margin-top:160px;
    width:800px;
    display:flex;
    justify-content: center;
}

.checkout-page{
    width:500px;
    display:flex;
    flex-direction: column;
}


.confirm-button{
    background-color:dodgerblue;
    border-radius:4px;
    margin-top:80px;
    margin-right:24px;
}
.back-button{
    background-color:white;
    color:black;
    border:1px solid black;
    border-radius:4px;
}
/* .box2 {
        height: 676px;
        width: 384px;
        border-radius: 4px;
        background-color: #FFFFFF;
    border: solid 1px black;
} */

/* h6 {
    height: 24px;
    color: #000000;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
} */



/* .add-payment-option {
	height: 24px;
	width: 304px;
	color: #000000;
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: bold;
	line-height: 24px;
} */

 /* .insideBox {
	height: 596px;
	width: 336px;
	border: 1px solid #363648;
	opacity: 0.05;
    border-radius: 4px;
    border: solid 1px red;

}  */